.App {
  width: 500px;
  background: rgb(230, 250, 190);
  padding: 20px;
  margin: 20px auto;
  background-image: url(/src/image1.png);
  background-position: right center ;
  background-size: 250px;
  background-repeat: no-repeat;
}

.App-header {
  background: rgb(29, 36, 15);
  box-shadow: 10px;
  height: 50px;
  padding: 30px 25px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav h3 {
  margin: 0;
  color: rgb(61, 248, 248);
  font-size: 22px;
  font-weight: 700;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items li {
  padding: 10px;
}

.nav-li {
  color: beige;
}

.image1 {
  width: 70px;
}

.mainEl {
  color: rgb(71, 70, 70);
}

.list-items {
  margin: 6px;
}

.facts {
  margin: 8px;
}
.facts::marker {
  font-size: 1.4rem;
  color: rgb(30, 172, 172);
}

.App-footer {
background: rgb(29, 36, 15);
margin-top: 20px;
padding-top: 5px;
padding-bottom: 10px;
padding-left: 5px;
}

/* .App {
  text-align: center;
} */
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
